<h1>Welcome to The Rutman-Novitski Organization!</h1>
<h3> Please enter in a player and their stats. Once you enter 9 or more players, we will be able to generate a batter's lineup.</h3>

<%= form_tag do%>
    <p> Player Name: <%= text_field_tag(:nameInput) %> </p>
    <p> Player On Base Percentage: <%= text_field_tag(:obpInput) %> </p>
    <p> Player Batting Average: <%= text_field_tag(:avgInput) %> </p>
    <p> Player Slug:  <%= text_field_tag(:slgInput) %> </p>
    <p> Player OPS:  <%= text_field_tag(:opsInput) %> </p>
    
    <p> <%= submit_tag "Enter Player Information" %> </p>
<% end %>

<% if @allPlayers.count >= 9 %>
        <h2>Please help us decide our batter lineup!</h2>
        <p> <%= button_to "Generate Lineup", generate_lineup_url, method: :get %> </p>
<% end %>

<h3>All Players: <%= button_to "Delete a Player", baseball_app_redirect_to_delete_controller_url, method: :get%> <%= button_to "Search a Player", search_app_url, method: :get%> </h3>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
       <thead>
        <tr>
            <th style="border: 2px solid black;">Player</th>
            <th style="border: 2px solid black;">OBP</th>
            <th style="border: 2px solid black;">BA</th>
            <th style="border: 2px solid black;">SLG</th>
            <th style="border: 2px solid black;">OPS</th>
        </tr>
    </thead>
    </thead>

    <tbody>
        <td> <%= button_to "Sort By Name", sort_by_name_url, method: :get%>
        <td> <%= button_to "Sort By OBP", sort_by_obp_url, method: :get%> </td>
        <td> <%= button_to "Sort By AVG", sort_by_avg_url, method: :get%> </td>
        <td> <%= button_to "Sort By SLG", sort_by_slg_url, method: :get%> </td>
        <td> <%= button_to "Sort by OPS", sort_by_ops_url, method: :get%> </td>
        
        <% @allPlayers.each do |player| %>
            <tr>
                <td style="border: 1px solid black;"> <%= player.name %> </td>
                <td style="border: 1px solid black;"> <%= player.obp %> </td>
                <% if player.obp > 1 or player.obp < 0 %>
                    <p> Beware: <%= player.name%> OBP should be between 0 and 1 as a decimal! </p>
                <% end %>
                <td style="border: 1px solid black;"> <%= player.avg %> </td>
                <% if player.avg > 1 or player.avg < 0 %>
                    <p> Beware: <%=player.name%> AVG should be between 0 and 1 as a decimal! </p>
                <% end %>
                <td style="border: 1px solid black;"> <%= player.slg %> </td>
                <% if player.slg > 1 or player.slg < 0 %>
                    <p> Beware: <%=player.name%> SLG should be between 0 and 1 as a decimal! </p>
                <% end %>
                <td style="border: 1px solid black;"> <%= player.ops %> </td>
                <% if player.ops > 2 or player.ops < 0 %>
                    <p> Beware: <%=player.name%> OPS should be between 0 and 2! </p>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>


