<h1>Welcome to The Rutman-Novitski Organization!</h1>
<h2>Please help us decide our batter lineup!</h2>
<%= form_tag do%>
    <p> Player Name: <%= text_field_tag(:nameInput) %> </p>
    <p> Player On Base Percentage: <%= text_field_tag(:obpInput) %> </p>
    <p> Player Batting Average: <%= text_field_tag(:avgInput) %> </p>
    <p> Player Slug:  <%= text_field_tag(:slgInput) %> </p>
    <p> Player OPS:  <%= text_field_tag(:opsInput) %> </p>
    <% if @allPlayers.count >= 9 %>
        <p> <%= button_to "Generate Lineup", baseball_app_generate_lineup_url, method: :post %> </p>
    <% end %>
    <p> <%= submit_tag "Enter Player Information" %> </p>
<% end %>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
       <thead>
        <tr>
            <th style="border: 2px solid black;">Player</th>
            <th style="border: 2px solid black;">OBP</th>
            <th style="border: 2px solid black;">BA</th>
            <th style="border: 2px solid black;">SLG</th>
            <th style="border: 2px solid black;">OPS</th>
            <th style="border: 2px solid black;">Delete Player?</th>
        </tr>
    </thead>
    </thead>

    <tbody>
        <% @allPlayers.each do |player| %>
            <tr>
                <td style="border: 1px solid black;"> <%= player.name %> </td>
                <td style="border: 1px solid black;"> <%= player.obp %> </td>
                <td style="border: 1px solid black;"> <%= player.avg %> </td>
                <td style="border: 1px solid black;"> <%= player.slg %> </td>
                <td style="border: 1px solid black;"> <%= player.ops %> </td>
                <td style="border: 1px solid black;"> <%= button_to 'Delete', baseball_app_delete_player_url, method: :delete %> </td>
            </tr>
        <% end %>
    </tbody>


</table>

<%= form_tag(baseball_app_url, method: :get) do %>
    <p> Search Player By Name: <%= text_field_tag(:searchInput) %> </p>
    <table style="border-collapse: collapse; width: 100%;">
    <thead>
       <thead>
        <tr>
            <th style="border: 2px solid black;">Player</th>
            <th style="border: 2px solid black;">OBP</th>
            <th style="border: 2px solid black;">BA</th>
            <th style="border: 2px solid black;">SLG</th>
            <th style="border: 2px solid black;">OPS</th>
        </tr>
    </thead>
    </thead>

    <tbody>
        <% @searchedRows.each do |player| %>
            <tr>
                <td style="border: 1px solid black;"> <%= player.name %> </td>
                <td style="border: 1px solid black;"> <%= player.obp %> </td>
                <td style="border: 1px solid black;"> <%= player.avg %> </td>
                <td style="border: 1px solid black;"> <%= player.slg %> </td>
                <td style="border: 1px solid black;"> <%= player.ops %> </td>
            </tr>
        <% end %>
    </tbody>
    <p> <%= submit_tag "Search Player by Name" %> </p>
    <h3>Search Results:</h3>
<% end %>


<% if @lineup %>
  <h1>Optimized Lineup:</h1>
  <% @lineup.each do |position, player| %>
    <p> #{position.capitalize}: #{player.name} </p>
  <% end %>
<% end %>
